[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
langgraph = "*"
langchain = "*"
langchain-openai = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
start = "streamlit run chatbot.py --server.headless true" 